.card-match{
    height: 300px;
    background-color: white;
    margin-top: 30px;
    margin: 10px;
}

.grid-card-section {
    padding: 5px;
    display: flex;
    justify-content: space-arround;
}

.grid-card-section-button {
    padding: 20px;
}

.container-home-client {
}

.style-line-border {
    border-bottom: 1px solid grey;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.modal-home-client{
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.style-material-icon-add {
    margin-left: 10px;
}

.testtest{
    text-align: center;
}

.card-match-header {
    margin-top: 20px;
}